.email-form {
    @extend .basic-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    h1 {
        font-size: 1.2em;
    }

    button {
        border-radius: 10px;
        min-width: 100px;
        padding: 10px;
        align-self: flex-end;
    }
    input {
        min-width: 200px;
        padding: 6px 6px 0 6px;
        border-radius: 5px;
    }

    & > div {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        & > * {
            flex-grow: 1;
        }
    }

    p {
        max-width: 500px;
    }

    .email-form__error,
    .email-form__success {
        padding: 5px;
    }
    .email-form__error {
        background: darkred;
    }
    .email-form__success {
        background: darkgreen;
    }
}
