/***** centers the content vertically and horizontally inside a div */
.centering {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.padding-clean {
    padding: 0;
}

// shared by the "about" and signin form
.basic-block {
    border-radius: 5px;
    background: #4baea9;
    color: white;
    margin: 5px auto;
    padding: 5px 30px;
}
